<div class="centered">
    <div class="concen">
      <div class="bordersignup nomrgbotm">
        <div class="formwrapper w-form">
          <form class="loginform" data-name="Email Form" id="email-form" name="email-form">
            <div class="div-block-27">
              <a class="w-inline-block" href="#"><img class="image-3" src="../images/edit-profile.png">
              </a>
            </div>
            <div class="welcomingtext">Click above to upload profile photo</div>
            <input class="inputfield w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" required="required" type="text">
            <input class="inputfield w-input" data-name="Email" id="Email" maxlength="256" name="Email" placeholder="Enter your Eamil" required="required" type="email">
            <input class="inputfield w-input" data-name="Password" id="Password" maxlength="256" name="Password" placeholder="Enter your password" required="required" type="password">
            <div class="div-block-25">
              <div class="div-block-26">
                <input class="lefmrg submitbutton w-button" data-wait="Please wait..." type="submit" value="Cancel">
              </div>
              <div class="div-block-26">
                <input class="rgmrg submitbutton w-button" data-wait="Please wait..." type="submit" value="Save">
              </div>
            </div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form</div>
          </div>
        </div>
      </div>
    </div>
</div>

