    <div class="centered">
      <div class="profileborder">
        <div class="profdetail">
          <div class="profimage"><img src="../images/User.png">
          </div>
          <div class="text-block-11">{{user.name}}</div><a class="button-4 w-button" ui-sref="app.edit_profile">Edit Profile</a>
          <div class="achivementpart">
            <div class="div-block-21"><img class="achiveimage" src="../images/profile-achive1.png">
              <div class="achivetxt t txtcolr">Beginner</div>
            </div>
            <div class="div-block-21"><img class="achiveimage" src="../images/profile-achive2.png">
              <div class="achivetxt">Elementary</div>
            </div>
            <div class="div-block-21"><img class="achiveimage" src="../images/profile-madel.png">
              <div class="achivetxt">Intermediate</div>
            </div>
            <div class="div-block-21 rm21"><img class="achiveimage" src="../images/profile-achive4.png">
              <div class="achivetxt">Professional</div>
            </div>
          </div>
        </div>
      </div>
    </div>

