<div class="centered">
      <div class="container-3 w-container">
        <div class="div-block-28">
          <div class="text-block-15">You have got :</div>
          <div class="pointnumber text-block-15">254</div>
          <div class="point text-block-15">points</div>
        </div>
        <div class="div-block-29">
          <div class="storitem">
            <div class="div-block-30">
              <div class="div-block-32">
                <div class="text-block-16">Streak Freeze</div>
                <div class="text-block-17">Streak Freeze allows your streak to remain in place for one full day of inactivity</div>
              </div>
            </div>
            <div class="div-block-31"><a class="button-3 storebutton w-button">Get for : 10</a>
            </div>
          </div>
          <div class="storitem">
            <div class="div-block-30">
              <div class="div-block-32">
                <div class="text-block-16">Double or Nothing</div>
                <div class="text-block-17">Attempt to double your five lingot wager by maintaining a seven day streak.</div>
              </div>
            </div>
            <div class="div-block-31"><a class="button-3 storebutton w-button">Get for : 10</a>
            </div>
          </div>
          <div class="storitem">
            <div class="div-block-30">
              <div class="div-block-32">
                <div class="text-block-16">Time Practice</div>
                <div class="text-block-17">See how well you do practicing your skills against the clock in Timed Practice.</div>
              </div>
            </div>
            <div class="div-block-31"><a class="button-3 storebutton w-button">Get for : 10</a>
            </div>
          </div>
        </div>
      </div>
      </div>
