
<div class="centered">
    <div class="content">
        <div class="middlecontent">
            <div class="leftcolum">
                <img class="welcomimage" src="../images/learn2.png">
                <div class="learnarabic">Welcome.to <h3>Arabi</h3></div>
            </div>
            <div class="rightcolum">
                <div class="innerdiv">
                    <a class="button w-button" ui-sref="login">Login</a>
                    <br>
                    <a class="button w-button" ui-sref="signup">Singup</a>

                </div>
            </div>
        </div>
    </div>

</div>

